.root {
  margin-bottom: 20px;
  text-align: center;

  button {
    display: inline-block;
    margin: 0;
    border: 0;
    padding: 4px 16px 5px;
    background-color: transparent;
    color: #666;
    font-size: 13px;
    cursor: pointer;

    @media (min-width: 700px) {
      &::before {
        content: attr(data-first-name) ' ';
      }
    }
  }

  button[disabled] {
    background-color: #666;
    color: #fff;
    cursor: default;
  }
}
